<h2>Title: <%= @todo_description%></h2>
<h1>Study For Finals</h1> 

<ul>
    <li>Take Notes</li>
    <li>Talk to Teachers</li>
    <li>Make Study Guides</li>
</ul>


<a href="index.html">Edit</a> 
<a href="#">Delete</a> 
<a href="index.html">Go back...</a> 
<a href=""></a>
<input type="checkbox"> 
<h2>Test:<%=7+4=%></h2>
<h2><%=@todo_description%></h2>